tensorflow==2.12.0
pandas

#Download data from gdrive
gdown
dvc
mlflow==2.2.2
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors

#This will install src\ as local package with the help of setup.py file
-e .